# Ignore configuration and build script
.pypirc
build_script.txt
*03_imputegap_exercices.ipynb
*03_imputegap_exercices_sol.ipynb
*assignment_imputegap.ipynb
*runner_validation.py
*extractor_imp.py
*extractor_pickle.py
*extractor_pkl.py
imputegap/datasets/z_*.txt
imputegap/datasets/y_*.txt
imputegap/datasets/fmri-objectviewing.txt
imputegap/datasets/pollution.txt
imputegap/datasets/test-large.txt
*checkpoint.pth
*script_181.py
*script_patterns.py
*script_180.py
*script_182.py
*script_lan.py
*hereliande.py
*runner_efeatures.py
*paper_matrixcompletion.py
*paper_ml.py
*paper_dl.py
*saits_run.txt
*runner_cleaner.py
*imputegap/wrapper/AlgoPython/NuwaTS/data_provider/dataset/ETT-small/ETTh1.csv
.coveragerc
./old_requirements.txt